<ion-header class="head">
  <ion-toolbar>
    <ion-grid no-padding>
      <ion-row class="container">
        <ion-col>
        </ion-col>
        <ion-col>
          <img src="./../../assets/bateauthibaultLogo.PNG" width="50" height="50" (click)="onGoToHome()" />
        </ion-col>
        <ion-col>
          <ion-buttons>
            <ion-menu-button>
              <ion-icon name="menu"></ion-icon>
            </ion-menu-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-toggle [checked]="false" slot="end">
      </ion-toggle>
      <ion-title>MENU</ion-title>
      <ion-button color="light" class="ion-fab-button" (click)="openCart()" #cart vertical="top" horizontal="end"
        slot="start">
        <div class="cart-length">{{ cartItemCount | async }}</div>
        <ion-icon name="cart" class="cart-icon"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-menu-toggle autoHide="true" *ngFor="let p of appHeaders; let i = index">
      <ion-item color="primary" class="align-center">
        <!-- <ion-icon></ion-icon> -->
        <ion-label>
          {{p.title}}
        </ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-list>
  <!-- <ion-list>
    <ion-item lines="none" (click)="onGoToProduits()">
      <ion-label>Produits</ion-label>
    </ion-item>
    <ion-item lines="none" (click)="onGoToBateaux()">
      <ion-label>Bateaux</ion-label>
    </ion-item>
    <ion-item lines="none" (click)="onGoToRestaurants()">
      <ion-label>Restaurants</ion-label>
    </ion-item>
    <ion-item lines="none" (click)="onGoToRecettes()">
      <ion-label>Recettes</ion-label>
    </ion-item>
    <ion-item lines="none" (click)="onGoToContact()">
      <ion-label>Contact</ion-label>
    </ion-item>
  </ion-list> -->
</ion-menu>