ion-col {
    text-align: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center + unsafe;
    align-items: stretch + unsafe;
    align-content: center + unsafe;
    gap: 10px;
    row-gap: 10px;
    column-gap: 20px
}

.head {
    border-color: transparent !important;
}

.align-center {
    top: 0 !important;
    text-align: center;
    vertical-align: middle;

}