ion-content {
    --background: #ccc url("../../assets/beach1.jpg") no-repeat center center / cover;
}

ion-header {
    text-align: center;
}

ion-footer {
    text-align: center;
    align-items: center;
    align-content: center;
}

ion-grid {
    align-items: center;
    display: flex;
    align-content: center;

}

ion-row {
    flex: 1 100px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

ion-button {
    border: 0.1rem outset black;
    transition-duration: 0.7s;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    width: 100%;
    flex: 1 auto;
    line-height: 1.5;
}

ion-button:hover {
    background-color: rgba(0, 150, 250, 0.6);
    color: white;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

p {
    text-align: center;
    align-items: center;
}

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
}

.text-style {
    color: black;
}

a:hover {
    color: black;
    align-items: center;
}

.espace {
    margin-top: 30%;
}

.box {
    margin-top: 20%;
}

.avatar {
    display: inline-block;
    width: 50px;
    margin: 2%;
}

.Link__txt {
    color: #eba13d;
    display: block;
    font-family: Always In My Heart, serif;
    font-size: 2.7rem;
    line-height: 1;
}

.Koezio,
.wswyg--content ol,
.wswyg--content ul,
a,
abbr,
address,
article,
aside,
audio,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
iframe,
img,
ins,
label,
legend,
li,
main,
mark,
nav,
ol,
p,
pre,
q,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
video {
    /* border: 0; */
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

* {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

user agent stylesheet div {
    display: block;
}

body {
    background: #235c47;
    color: #eba13d;
    font-family: GT Pressura Mono, sans-serif;
    font-size: 1.4rem;
}

body {
    font-size: 1.6rem;
    line-height: 1.4;
}

:root {
    --swiper-navigation-size: 44px;
}

:root {
    --swiper-theme-color: #007aff;
}

html {
    font-size: 62.5%;
}

:after,
:before {
    box-sizing: inherit;
}

:after,
:before {
    box-sizing: inherit;
}

.App {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

[data-scroll-container]>* {
    will-change: transform;
}

.Koezio,
article,
aside,
footer,
header,
main,
nav,
section {
    display: block;
}

.Hero__scroll>svg {
    animation: scrollLoop 16s linear infinite;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

svg {
    display: block;
}
* {
    box-sizing: border-box;
}
* {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

user agent stylesheet
svg:not(:root) {
    overflow: hidden;
}
.Koezio, section {
    padding: 100px 0;
    position: relative;
    text-align: center;
}
body {
    background: #235c47;
    color: #eba13d;
    font-family: GT Pressura Mono,sans-serif;
    font-size: 1.4rem;
}
body {
    font-size: 1.6rem;
    line-height: 1.4;
}
:root {
    --swiper-navigation-size: 44px;
}
:root {
    --swiper-theme-color: #007aff;
}
html {
    font-size: 62.5%;
}
:after, :before {
    box-sizing: inherit;
}
:after, :before {
    box-sizing: inherit;
}
