<ion-app>
  <ion-content>
    <div>
      <br />
      <div class="avatar2">
        <h1>Nos restaurants partenaires</h1>
      </div>
      <br />
      <div>
        <h4 class="text-style">
          Tous les restaurants partenaires avec le bateau de Thibault<br />
        </h4>
      </div>
      <div>
        <p><a>
            <code>06.63.99.99.78</code><br />
            lebateaudethibault@gmail.com<br />
            www.facebook.com/lebateaudethibault
          </a>
        </p>
      </div>

      <div>
        <ion-grid>
          <div>
            <ion-row>
              <ion-col class="ion-align-self-start">
                <ion-button fill="outline">
                  Bistrot des Gascons
                </ion-button>
              </ion-col>
              <ion-col class="ion-align-self-center">
                <ion-button fill="outline">
                  Les fous de l'Île
                </ion-button>
              </ion-col>
              <ion-col class="ion-align-self-end">
                <ion-button fill="outline">
                  Bistrot Landais
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="outline">
                  Villa 9-Trois
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="outline">
                  Bistrot du Sommelier
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="outline">
                  Devenez partenaire!
                </ion-button>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </div>
    </div>
  </ion-content>
</ion-app>