<ion-app>
  <ion-content>
    <div>
      <br />
      <div class="avatar2">
        <h1>Nos recettes</h1>
      </div>
      <br />
      <div>
        <h4 class="text-style">
          Toutes les recettes du bateau de Thibault<br />
        </h4>
      </div>
      <div>
        <p><a>
            <code>06.63.99.99.78</code><br />
            lebateaudethibault@gmail.com<br />
            www.facebook.com/lebateaudethibault
          </a>
        </p>
      </div>


      <div>
        <ion-grid>
          <div>
            <ion-row>
              <ion-col class="ion-align-self-start">
                <ion-button fill="outline">
                  <ion-icon name="boat-outline"></ion-icon>&nbsp; Homard
                </ion-button>
              </ion-col>
              <ion-col class="ion-align-self-center">
                <ion-button fill="outline">
                  <ion-icon name="restaurant-outline"></ion-icon>&nbsp; St Jacques
                </ion-button>
              </ion-col>
              <ion-col class="ion-align-self-end">
                <ion-button fill="outline">
                  <ion-icon name="receipt-outline"></ion-icon>&nbsp; Bar
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="outline">
                  <ion-icon name="call-outline"></ion-icon>&nbsp; Tourteau
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="outline">
                  <ion-icon name="call-outline"></ion-icon>&nbsp; Recette
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="outline">
                  <ion-icon name="call-outline"></ion-icon>&nbsp; Recette
                </ion-button>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </div>
    </div>
  </ion-content>
</ion-app>